/*******************head**********************/

.logo {
    width: 1000px;
    height: 300px;
    display: flex;
}


/*****************general*******************/

* {
    margin: auto;
}

.bg-blue {
    background-color: rgb(56, 68, 228);
}

main {
    background-color: rgb(56, 68, 228);
}

body {
    background-color: rgb(56, 68, 228);
}

p {
    margin: 100px;
    font-family: helvetica;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

h2 {
    font-size: 40px;
}

html{
    display: flex;
}

/****************navbar*******************/

.navbar {
    height: 200px;
    display: flex;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(250, 65, 52);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);


}

li {
    display: inline;
}


/**************img navbar****************/

.megadrive1 img {
    height: 50px;
    background-color: white;

}

nav img {
    height: 100px;

}

a {
    background-color: white;
    text-decoration: none;

}


/****************selection navbar*********************/

.dreamcast1 {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(87, 87, 87);
    border-radius: 10px;

}


/************************main logo***************************/

.dreamcastLogo {
    width: 500px;
    display: flex;
    margin-top: 20px;
}


/***********************footer logo************************/

.dreamcast {
    width: 500px;
    display: flex;

}

/***********************footer************************/

footer {
    background-color: rgb(56, 68, 228);
    display: flex;
    justify-content: center;
}

footer p {
    text-align: center;
}